.header{
    height: 85px;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    margin-top: 1%;
}
.navbar{
    padding: 0.2rem !important;
}
.topnav{
        padding-left: 0% !important; 
        padding-right: 0% !important;
        margin-top: 1%;
        margin-bottom: 1%;
    .navbar-light .navbar-toggler {
        border-color: white !important;
        margin: 5px;
        .fa-bars:before {
            font-size: 2rem;
        }
    }
    &.topnav, .navbar{
        background-image: url('/images/topnav_bg.png') !important;
        background-repeat: repeat-x;
        background-size: contain;
    }

    .navbar-light .navbar-nav .nav-link, .navbar-toggler {
        color: rgb(255, 255, 255) !important;
    }
    #fa-search {
        vertical-align: middle;
        display: inline;
        margin-left: 2px; 
        color: #fff;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1em !important;
    }
    li{
        img:hover{
            filter:brightness(200%) !important;
        }
    }
    .active{
        img{
            filter:brightness(200%) !important;
        }
    }
}

.footer-top{
    margin-top: 2%; 
    padding: 2%;
    background-color: rgb(182, 177, 177);

    @media screen and ( min-width: 991px ) {
        .container .row div{
            &:first-child,&:nth-child(2){
                border-right: #ccc 1px solid;
            }
        }
    }
}
.footer-bottom{
    height: 131px;
    width: 100%;
    padding: 2.5%; 
    background-image: url('/images/footer_bg.jpg');
    background-repeat: repeat-x;
    color: #fff;
    p{
        vertical-align: middle;
    }
    a{
        &:hover{
            color:rgb(233, 95, 95);
        }
        color: #fff;
    }
}
@media screen and (max-width: 991px) {
    .navbar{
        text-align: center;
        .nav-item{
            margin-bottom: 5px; 
        }
        #search{
            margin-bottom: 1rem;
        }
    }
}