// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//layout
@import "layout";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//sidenav
@import "sidenav";

//base styles
@import "base";

//lightbox
@import "ekko-lightbox";

*, body{
  font-size: .95rem !important; 
}
.button{
  cursor: pointer;
}
.carousel{
  margin: 1% 0;
}
.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}
/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100% !important;
  height:100% !important;
}
.title-bar{
  width: 100%;
  margin-bottom: 2%;
}

@media (min-width: 991px) {
  .container {
    width: 100%;
    padding-right: 100px !important;
    padding-left: 100px !important;
    margin-right: auto;
    margin-left: auto;
  }
}

.content{
  margin-top: 2%; 
  .card{
    margin-bottom: 2%;
  }
  .card-header{
    background-color:#ebdbdb;
    border-left: #ad0815 8px solid;
    color:#900;
    // padding: 1% !important;
    font-size: 1rem !important;
    font-weight: bold;
  }
  
  .page-description {
    background: url(/images/bg_title2_h3.jpg) no-repeat 0 bottom;
    color: #ff6600;
    font-size: 1.5rem !important;
    font-weight: bold;
    margin-top: 2%;
    padding: 1%;
  }
  .page-description-dtls{
    padding: 1%;
  }
  .list_article {
    width:100%;
    list-style:none;
    overflow:hidden;

    dt {
      padding:3px 0 1px 25px;
      background:url(/images/icon_circle_bl.jpg) no-repeat left 3px;
      color:#900;
    }

    dd {
        padding: 3px 0 8px 25px;
        border-bottom: 1px solid #EEE;
        // margin: 0 0 10px;
    }
  }
  .big-mg-space{
    margin: 4% 0%;
  }
  .big-pd-space{
    padding: 4% 0%;
  }
  .required{
    color: #d8712d;
  }
  .contact-form{
    background-color: rgb(240, 255, 255); 
    color: rgb(49, 41, 41);
  }
  .paragraph-img{
    margin: 0px 10px;
  }
  .list-header{
    margin-top: 4%;
  }
  ul.list{
    list-style-image: url('/images/icon_arrow_bl.gif');
    li{
      padding: 1%;
    }
  }
  ul.sitemap{
    list-style-image: url('/images/icon_square_bl.jpg');
    li a{
      padding: 1%;
      color: #291c02 !important;
    }
  }
  .admission-intro{
    background:url(/images/bg_member.png) no-repeat 0 0;
    background-size: cover; 
    height: auto;
    width: 100%;
    padding: 2%;
    overflow: initial;
    margin-bottom: 2%;

    p{
      margin-left: 130px;
    }

    @media screen and (max-width: 991px) {
      p{
        margin-left: 0;
      }
      background-size: cover; 
      padding: 4%;
    }
  }
  td.table-info{
    width:30%;
  }
  .adviser-list{
    .src-image {
      display: none;
    }
    
    .card {
      overflow: hidden;
      position: relative;
      border: 1px solid #CCC;
      border-radius: 8px;
      text-align: center;
      padding: 0;
      background-color: #f8fcff;
      color: rgb(6, 31, 61);
    }
    
    .card .header-bg {
      /* This stretches the canvas across the entire hero unit */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70px;
      border-bottom: 1px #FFF solid;
      /* This positions the canvas under the text */
      z-index: 1;
    }
    .card .avatar {
      position: relative;
      margin-top: 15px;
      z-index: 100;
    }
    
    .card .avatar img {
      max-width: 100% !important;
      height: auto;
      -webkit-border-radius: 3%;
      -moz-border-radius: 3%;
      border-radius: 3%;
      border: 3px solid rgba(14, 41, 54, 0.8);
    }
    .content{
      padding: 1%;
    }
  }
  .h1-hdr{
    background: url(/images/bg_title2_h3.jpg) no-repeat 0 bottom;
    max-width: 100%;
    height: auto;
    line-height: 1;
    font-weight: bold;
    padding: 0 10px 15px 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #ff6600;
  }
}
.en-area-concept{
  padding-top:5%;
  padding-bottom:20%;
  background:url(/images/bg_concept.png) no-repeat 0 0;
  background-size: cover;
}
