// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

//layout
@import "layout";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//sidenav
@import "sidenav";

//base styles
@import "base";

*, body{
  font-size: .9rem !important; 
}
.button{
  cursor: pointer;
}
.carousel{
  margin: 2% 0;
}
.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}
/*
Forces carousel image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
  width:100% !important;
  height:100% !important;
}