body{
    font-size: 1rem;
}
.area-concept{
    margin-top: 2%;
    background:url(/images/bg_concept.png) no-repeat 0 0;
    background-size: cover;
}
.img-fullstreched{
    width: 100%;
    margin: 2% 0%;
}